/*Formatações gerais*/
* {
	margin: 0;
	padding: 0;
}

body {
	background: url(../imagens/background.jpg) no-repeat;
	background-size: cover;
	font-family: "Press Start 2P";
}

/*Formataçôes container*/

#container {
	width: 483px;
	height: 291px;
	background: rgba(255, 255, 255, 0.85);
	margin: 200px auto;
	border-radius: 17px;
	text-align: center;
}

#container img {
	width: 128px;
	height: 128px;
	margin-top: -64px;
}

/*Formatações caixa*/
.caixa {
	height: 40px;
	width: 400px;
	font-size: 20px;
	text-indent: 13px;
	background-color: #CBCEEA;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.40);
	color: rgba(0, 0, 0, 0.4);
}

input::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

#email {
	margin: 19px 0 20px 0;
}

#senha {
	margin-bottom: 30px;
}

#login {
	width: 300px;
	height: 40px;
	background: linear-gradient(to bottom, #AA8EE5, #3A1980);
	color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	text-shadow: 1px 1px #000, -1px -1px #000;
	font-size: 20px;
	box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.8);
}

#login:hover {
	background: linear-gradient(to bottom, #7E55D3, #4E24A7);
}